In [1396]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [1430]:
#full_training = pd.read_csv('Datasets/crime_merged1.csv')
full_training = pd.read_csv('Datasets/test_training_merged.csv')

In [1431]:
full_training = full_training.iloc[:,1:]
full_training.income.describe()
full_training.head()

,state,id,Date,Fatal,SubjectArmed,SubjectRace,SubjectGender,SubjectAge,NatureOfStop,NumberOfShots,...,log_new_age,log_income,scaled_log_new_age,scaled_log_income,scaled_pop,lat,long,state_fatal_prop,city_fatal_prop,subject_minority
0,newmexico,4966058,NaN,F,N,U,M,U,NaN,1,...,0.0,9.904737,-0.939642,-0.77168,-0.662392,106.6474,35.1056,1.238095,1.238095,No
1,newmexico,3154891,2011-10-05,F,Y,L,M,U,NaN,1,...,0.0,9.904737,-0.939642,-0.77168,-0.662392,106.6474,35.1056,1.238095,1.238095,Yes
2,newmexico,517461,NaN,F,Y,W,F,U,NaN,1,...,0.0,9.904737,-0.939642,-0.77168,-0.662392,106.6474,35.1056,1.238095,1.238095,No
3,newmexico,840208,2010-04-03,N,N,L,U,U,NaN,1,...,0.0,9.904737,-0.939642,-0.77168,-0.662392,106.6474,35.1056,1.238095,1.238095,Yes
4,newmexico,639066,NaN,F,N,L,M,U,NaN,1,...,0.0,9.904737,-0.939642,-0.77168,-0.662392,106.6474,35.1056,1.238095,1.238095,Yes

In [1432]:
from sklearn.preprocessing import scale
full_training['scaled_shots'] = scale(full_training.ShotsClean)
full_training['scaled_pop'] = scale(full_training.estimate2016)
full_training['scaled_income'] = scale(full_training.income)
full_training['scaled_age'] = scale(full_training.NewAge)
#full_training['imputed_age'] = full_training.NewAge.replace(0, np.mean(full_training.loc[full_training.NewAge!=0,'NewAge']))
#full_training['imputed_age'] = full_training.NewAge.replace(0,15)

In [1456]:
training_noU = full_training.loc[full_training.Fatal != 'U',:]
# features_list = ['Fatal','SubjectRace', 'SubjectGender', 'SubjectArmed',
#                                'scaled_shots', 'AgeGroup', 'NumberOfOfficers',
#                                    'Month', 'Day', 'scaled_pop', 'mainOfficerRace','income']



features_list2 = ['Fatal','SubjectRace', 'SubjectGender', 'SubjectArmed',
                'NewAge', 'NumberOfOfficers', 'ShotsClean', 'mainOfficerRace',
                  'Year','Month','Day','estimate2016', 'income',
                 'city_fatal_prop']

training_noU['log_age'] = np.log(training_noU.NewAge)
training_noU.loc[training_noU.log_age == -np.inf, 'log_age'] = 0
training_noU['log_pop'] = np.log(training_noU.estimate2016)
training_noU['log_income'] = np.log(training_noU.income)
training_noU['log_shots'] = np.log(np.sqrt(training_noU.ShotsClean))


X = training_noU.loc[:,features_list2].drop('Fatal', axis=1)
X_dummy = pd.get_dummies(X)
y = training_noU.Fatal
print(X_dummy.shape)
print(y.shape)

(3002, 27)
(3002,)

## Splitting into testing and training

In [1457]:
from sklearn.model_selection import train_test_split

train_X, test_X, train_y, test_y = train_test_split(X_dummy, y, test_size=0.2, random_state=12345)

print('train_features dimensions:', train_X.shape)
print('test_features dimensions:', test_X.shape)
print('train_labels dimensions:', train_y.shape)
print('test_labels dimensions:', test_y.shape)
print('The goal is to beat the classification rate of:', y.value_counts(normalize=True)[0])
print(train_y.value_counts(normalize=True))
print(test_y.value_counts(normalize=True))

train_features dimensions: (2401, 27)
test_features dimensions: (601, 27)
train_labels dimensions: (2401,)
test_labels dimensions: (601,)
The goal is to beat the classification rate of: 0.6272485009993338
N    0.629321
F    0.370679
Name: Fatal, dtype: float64
N    0.618968
F    0.381032
Name: Fatal, dtype: float64

In [1449]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.naive_bayes import GaussianNB
from xgboost import XGBClassifier
from sklearn.ensemble import AdaBoostClassifier


from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score

# xgboost causing warnings
import warnings
warnings.filterwarnings('ignore')

In [1458]:
models = []
#models.append(('LogisticRegression', LogisticRegression()))
#models.append(("SVC", SVC(C=100, gamma=0.01)))
#models.append(("KNeighborsClassifier", KNeighborsClassifier(n_neighbors=5)))
models.append(("RandomForestClassifier_gini", RandomForestClassifier(n_estimators=500,
                                                                criterion='gini',
                                                                max_depth=8,
                                                                    max_features=5)))
models.append(("RandomForestClassifier_entropy", RandomForestClassifier(n_estimators=500,
                                                                criterion = 'entropy',
                                                                max_depth=8,
                                                                       max_features=5)))
models.append(('XGBoost', XGBClassifier(learning_rate=0.1, n_estimators=100,
                                       max_depth= 3)))
#models.append(('Adaboost', AdaBoostClassifier(learning_rate=0.1, n_estimators=100)))

results = []
names = []
for name,model in models:
    result = cross_val_score(model, train_X, train_y, cv=5)
    names.append(name)
    results.append(result)

mean_results = []
sd_results = []
for model in results:
    mean_results.append(model.mean())
    sd_results.append(model.std())

results_df = pd.DataFrame({'Model': names,
              'Mean Classification Rate': mean_results,
              'Standard Deviation': sd_results
             })
results_df = results_df.iloc[:,[1,0,2]]

In [1459]:
results_df.sort_values(by = 'Mean Classification Rate', ascending=False)

,Model,Mean Classification Rate,Standard Deviation
2,XGBoost,0.696391,0.019348
0,RandomForestClassifier_gini,0.695145,0.022764
1,RandomForestClassifier_entropy,0.695143,0.020593

## XGBoost

In [1465]:
from sklearn.metrics import accuracy_score

xgb = XGBClassifier(learning_rate=0.01, n_estimators=500, max_depth=3, subsample = 0.9)
xgb.fit(train_X, train_y)
xgb_pred_class = xgb.predict(test_X)

print('Classification Rate:', accuracy_score(test_y, xgb_pred_class))
pd.crosstab(xgb_pred_class, test_y, margins=False)

Classification Rate: 0.7171381031613977

Fatal    F    N
row_0
F      112   53
N      117  319

## Random Forest

In [1461]:
rF = RandomForestClassifier(n_estimators=1000, criterion = 'gini', max_depth=9, max_features = 4, oob_score=True)
rF.fit(train_X, train_y)
print('OOB score:', rF.oob_score_)
rF_pred_class = rF.predict(test_X)

print('Classification Rate:', accuracy_score(rF_pred_class, test_y))
print(pd.crosstab(rF_pred_class,test_y))
pd.DataFrame({'Feature': train_X.columns, 'Importances':rF.feature_importances_}).sort_values(by='Importances', ascending=False)

OOB score: 0.6922115785089547
Classification Rate: 0.7154742096505824
Fatal    F    N
row_0
F      107   49
N      122  323

              Feature  Importances
8     city_fatal_prop     0.123813
0              NewAge     0.120507
6        estimate2016     0.096626
1    NumberOfOfficers     0.075156
7              income     0.075111
3                Year     0.065061
4               Month     0.063196
2          ShotsClean     0.054928
5                 Day     0.050337
17    SubjectGender_U     0.033895
16    SubjectGender_M     0.030631
19     SubjectArmed_U     0.025783
14      SubjectRace_W     0.024883
20     SubjectArmed_Y     0.019333
10      SubjectRace_B     0.018887
26  mainOfficerRace_w     0.017913
18     SubjectArmed_N     0.017455
22  mainOfficerRace_b     0.015284
25  mainOfficerRace_u     0.013678
13      SubjectRace_U     0.013085
11      SubjectRace_L     0.012622
24  mainOfficerRace_l     0.009754
23  mainOfficerRace_h     0.008027
15    SubjectGender_F     0.005667
21  mainOfficerRace_a     0.004218
9       SubjectRace_A     0.003062
12      SubjectRace_O     0.001090